body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.divMain{
    margin-top: 20px;
    margin-left: 40%;
    
    width: 300px;
    height: 100px;


}

#cityID::placeholder {
    color: gray;
    font-family: Lucida Console;
    
}

#inputItems {
    display: inline-block;
}

#heading1 {
    font-family: Lucida Console;
    color: white;
    align-content: center;
}



#errorE{
    color: red;   
    font-family: Lucida Console;
    font-size: 12px;
    text-align: center;

}

.output {
    
   
 
    margin-top: 4px;
    width: 400px;
    height: 200px;
    margin-left: 4px;
  
    
    
   

}

.outputHolder{
    border: 2px solid transparent;
    margin-top: 4px;
    width: 420px;
    height: 220px;
    margin-left: 445px;
    
}

#finalString {
    color: white;   
    font-family: Lucida Console;
    font-size: 12px;
    text-align: center;
}


button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:21px;
  font-family: Lucida Console;;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:#1AAB8A;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

.outputData {
    color: whitesmoke;
    font-family: Lucida Console;
    font-size: 20px;
    padding-bottom: 10px;
    
    
}

.tab1{
    
    
    margin-left: 50px;
    margin-top: 20px;
}